<section class="bg-light p-5 text-center text-sm-start full-viewport" id="showcase">
    <div class="container py-5">
        <div class="d-sm-flex align-items-center jusitfy-content-between my-5">
            <div class="me-sm-5">
                <h1>
                    Manage your contacts in a more <span class="text-warning">productive</span> way
                </h1>
                <p class="lead my-4 d-none d-md-block">
                    With Contactaro we provide you with a tool that will let you manage your contacts in a better way so you can be more productive.
                </p>
                <p class="lead my-4 d-sm-none">
                    Try out contactaro!
                </p>
                <button class="btn btn-warning btn-lg text-light">Sign up</button>
            </div>
            <img class="img-fluid w-50 d-none d-md-block" src="/svg/undraw_quitting_time_dm8t3.svg" alt="Blob shape">
        </div>
    </div>
</section>

<section class="p-5 text-center" id="features">
    <div class="container">
        <h2>Features</h1>
        <hr>
        <div class="row text-center g-4">
            <div class="col-md">
                <div class="card shadow-sm p-5 mb-2 h-100">
                    <div class="icon-div fs-1">
                        <i class="bi bi-journal-check"></i>
                    </div>
                    <h1>Get things done quickly</h1>
                    <p class="pt-3">
                        We know care about your time and productivity, that's why we designed Contactaro to be simple, fast and effective. 
                    </p>
                </div>
            </div>
            <div class="col-md">
                <div class="card shadow-sm p-5 mb-2 h-100">
                    <div class="icon-div fs-1">
                        <i class="bi bi-bookshelf"></i>
                    </div>
                    <h1>Organize your contacts</h1>
                    <p class="pt-3">
                        We understand the importance of organization, that's why we provide you tools to organize your contacts.
                    </p>
                </div>
            </div>
            <div class="col-md">
                <div class="card shadow-sm p-5 mb-2 h-100">
                    <div class="icon-div fs-1">
                        <i class="bi bi-share"></i>
                    </div>
                    <h1>Share your contacts</h1>
                    <p class="pt-3">
                        Need to share a contact why a co-worker?<br>
                        No problem!
                        With contactaro you can easily share your contacts with anyone.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="bg-light p-5" id="faq">
    <h3>Frequently asked questions</h3>
    <hr>
    <div class="accordion bg-light" id="accordionFlushExample">
        <div class="accordion-item">
            <h2 class="accordion-header" id="flush-headingOne">
                <button class="accordion-button collapsed bg-light" type="button" data-bs-toggle="collapse"
                    data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                    How much do i have to pay to use Contactaro?
                </button>
            </h2>
            <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne"
                data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">
                    Contactaro is a totally free service, although if you really like our product you can <a href="#">buy us a coffe</a>.
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="flush-headingTwo">
                <button class="accordion-button collapsed bg-light" type="button" data-bs-toggle="collapse"
                    data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                    Is my data shared with third-party entities?
                </button>
            </h2>
            <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo"
                data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">
                    No. We don't share your data with anyone else, and we can assure that your data and the one of your contacts will always be safe.
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="flush-headingThree">
                <button class="accordion-button collapsed bg-light" type="button" data-bs-toggle="collapse"
                    data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
                    How can i help improve Contactaro?
                </button>
            </h2>
            <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree"
                data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">Contactaro is an open-source project, meaning that you can contribute to our <a href="#">GitHub</a> repository. Altenatively, you can <a href="#">donate to our project</a> so we can on developing.</div>
            </div>
        </div>
    </div>
</section>
<section class="bg-light text-center p-4 mb-5">
    <small>Contribute on <a href="#">GitHub</a></small>
</section>