<div class="row">
    <div class="card bg-light login-form mx-auto p-5">
        <form action="">
            <div class="col mb-3">
                <label for="username" class="form-label">
                    Username
                </label>
                <input class="form-control" type="text" name="username" id="username">
            </div>
            <div class="mb-3">
                <label for="username" class="form-label">
                    Password
                </label>
                <input class="form-control" type="password" name="password" id="password">
            </div>
            <button class="btn btn-warning">
                Login
            </button>
            <div class="text-align-start pt-2">
                <a href="#">I can't access my account</a>
            </div>
        </form>
    </div>
</div>