<div class="card register-form mx-auto bg-light p-5">
    <form action="/register" method="POST">
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Email address</label>
            <input type="email" placeholder="example@domain.com" class="form-control" id="emailAddress" aria-describedby="emailHelp">
            <div id="emailHelp" class="form-text">We won't spam your email or share it with anyone else.</div>
        </div>
        <div class="mb-3">
            <label for="password" class="form-label">Password</label>
            <input type="password" placeholder="********" class="form-control" id="password">
        </div>
        <div class="mb-3">
            <label for="confirmPassword" class="form-label">Confirm password</label>
            <input type="password" placeholder="********" class="form-control" id="confirmPassword">
        </div>
        <button type="submit" class="btn btn-warning">Create account</button>

    </form>
    </div>
</div>